.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.voting-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50%;
}
