.card {
  margin-bottom: 25px;
  width: 100%;
  align-items: center;
}

.card-header {
  width: 100%;
  font-weight: bold;
}

.card-body {
  width: 100%;
  padding-bottom: 5px;
}

.vote-select {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
